<ul>
  <li class="title">General</li>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="https://blog.nathanwillson.com">Blog</a></li>
  <li><a href="/design">Digital Artwork</a></li>
  <li><a href="/music">Music</a></li>
  <li><a href="/project">Projects</a></li>
</ul>

<ul>
  <li class="title">Social</li>
  <li><a href="https://twitter.com/nathanwillson">Twitter</a></li>
  <li><a href="https://www.instagram.com/nahtanw/">Instagram</li>
</ul>

<ul>
  <li class="title">Code</li>
  <li><a href="https://github.com/nbw">Github</a></li>
</ul>

<ul>
  <li class="title">Contact</li>
  <li id="email" onclick="showEmail()">Email</li>
</ul>


{{ if .CurrentSection }}
  {{ if eq .CurrentSection.Title "blog"}}
  <ul>
    <li class="title">Follow</li>
    <li><a href="/mailing_list">Mailing List</a><li>
  </ul>
  {{ end }}
{{ end }}

<script>
  function showEmail() {
    var email = "{{.Site.Params.email}}",
    el = document.getElementById("email"),
    a  = document.createElement("a");

    a.innerHTML = email;
    a.setAttribute('href', 'mailto:' + email);

    el.innerHTML = "";
    el.appendChild(a);
  }
</script>
